<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Sichen</title>
</head>

<body>
    <section class="w-full h-screen bg-[#08080E] px-80  " >
        <div class="w-[50rem] min-h-screen py-10 relative bg-cover" style="background-image: url('https://images.unsplash.com/photo-1673255745677-e36f618550d1?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTF8fGFpfGVufDB8fDB8fHww');">
            <h class="text-3xl text-slate-300 font-bold font-serif ">Sichen</h
            
            <div class=" w-full absolute bottom-10">
                <form class="flex mt-[32rem]" action="/chat" method="post" autocomplete="off">
                    <input class="px-7 py-5 w-[90%] rounded-l-lg bg-slate-800 text-white outline-none" type="text"
                        placeholder="Enter your prompt..." name="question">
                    <input class="px-7 py-5 font-bold text-white bg-slate-800 rounded-r-lg" type="submit"
                        value="Ask me?">
                </form>
            </div>
        </div>

    </section>
</body>

</html>